node_modules
uploads
coverage
Dockerfile*
docker-compose.*
LICENSE
README.md
.git
.vscode
.gitignore
.eslintcache
.eslintignore
.eslintrc.js
.prettierignore
.prettierrc.json
.env.example
.husky
.nvmrc
!.env.project
!.env.vault
