# environment
node_modules
coverage
.eslintcache
uploads

# project
build
dist
yarn-error.log
*.rdb

# Keys
*.key
*.key.pub
*.pem
google_client_secret.json
.env*
!.env.example
!.env.project
!.env.vault